{% extends 'base.html' %}
{% block content %}
<h1>List Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ todolist.name }}</span>
        <p>Description: {{ todolist.description }}</p>
        {% if todolist.is_completed is False %}
          <p>Cmon let's get er done</p>
        {% else %}
          <p>Great job buddy, time for a beer</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'todolists_update' todolist.id %}">Edit</a>
        <a href="{% url 'todolists_delete' todolist.id %}">Delete</a>
      </div>
    </div>
    <div class="col s6">
            <form action="{% url 'add_item' todolist.id %}" method="post">
                {% csrf_token %}
                {{ list_form.as_p }}
                <input type="submit" class="btn btn-light" value="Add Item">
            </form>
        </div>
    {% if lisst.count %}
        {% for lisst in lisst.all %}
        <div class="">
            <p>{{ lisst.lissts}}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>{{ todolist.name }} has no items yet.</p>
    {% endif %}
  </div>
</div>

{% endblock %}