{% extends 'base.html' %} {% block content %}
<h1 class="two font">List Details</h1>
<div class="detail-container title font">
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content three font">
          <span class="card-title">{{ todolist.name }}</span>
          <p>Description: {{ todolist.description }}</p>
          {% if todolist.is_completed is False %}
          <p>Cmon let's get this {{todolist.name}} done</p>
          {% else %}
          <p>Great job, time for a beer</p>
          {% endif %}
        </div>
        <div class="card-action three font">
          <a
            class="btn btn-light"
            href="{% url 'todolists_update' todolist.id %}"
            >Edit</a
          >
          <a
            class="btn btn-light"
            href="{% url 'todolists_delete' todolist.id %}"
            >Delete</a
          >
        </div>
      </div>
      <div class="margin">
        <div class="four font">
          <form action="{% url 'add_rating' todolist.id %}" method="post">
            {% csrf_token %} {{ rating_form.as_table }}
            <input type="submit" class="btn btn-light" value="Add Item" />
          </form>
        </div>
        {% if item.count %} {% for item in item.all %}
        <div class="comments">
          <input type="checkbox" id="demo" />
          <label for="demo">{{ item.items}}</label>
        </div>
        {% endfor %} {% else %}
        <p>{{ todolist.name }} has no items yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}
</div>
